node_modules

.DS_Store
.history
.vscode
coverage
debug.log
node_modules
npm-debug.log*
report.*.json
docs-dev-copy

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
